# Dataset
data/BoneReport_2018.csv
data/BoneReport_2018.xlsx

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/
.DS_Store
data/impression_text.csv
data/impression_text.xlsx
.vscode/settings.json
data/BoneReport_2018_with_prop.csv
data/reportPropList.csv
data/*
sandbox/*